/* Desktop */
/* body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.918);
} */

/* img { */
/* flex-direction: column; */
/* width: 40vw; */
/* object-fit: cover; */
/* } */

/* h1 {
  size: 40vw;
  Change this to white eventually and put it on top of the picture?
  color: white;
} */

/* h2 {
  color: black;
  size: 30vw;
} */

/* p {
  color: ;
} */

/* Tablet */
/* @media (max-width: 1200px) {
  body {
    display: flex;
    justify-content: center;
    background-color: rgb(179, 179, 179);
  }
} */

/* Mobile */
@media (max-width: 600px) {
  body {
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(146, 146, 146); */
  }

  .photo-and-name {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
  }

  .name {
    position: absolute;
    top: 80%;

    font-size: 10vw;
    color: white;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .photo-and-name > img {
    margin-top: 5vh;
    width: 80vw;
    /* object-fit: cover; */

    box-shadow: 6px 7px 11px #8f8f8f;
  }

  header > p {
    margin-left: 6vw;
    margin-right: 6vw;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project {
    width: 90vw;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .screenshot-of-project {
    width: 100%;

    height: 60vh;

    display: flex;
    align-items: center;

    box-shadow: 6px 7px 11px #8f8f8f;
  }

  .screenshot-text {
    text-align: center;

    margin: 10vw;
    color: white;
    /* Should this font-size be a different unit like rem? */
    font-size: 10vw;
  }

  .project-text {
    width: 100%;

    height: 30vh;

    background-color: white;

    margin-bottom: 15vh;

    box-shadow: 6px 7px 11px #8f8f8f;
  }

  .project-name {
    margin-left: 5vw;
  }

  .description {
    margin-left: 3vw;
  }

  .project-1 {
    background-color: purple;
  }

  .project-2 {
    background-color: orange;
  }

  .project-3 {
    background-color: green;
  }

  .project-4 {
    background-color: pink;
  }

  .project-5 {
    background-color: blue;
  }

  .project-6 {
    background-color: red;
  }

  .contact-me {
    text-align: center;
  }

  footer {
    background-color: rgb(53, 100, 202);
    padding-bottom: 10vh;
  }

  footer h2,
  footer h3,
  footer p {
    color: white;
  }

  footer h3,
  footer p {
    margin-left: 5vw;
  }

  .footer-img {
    width: 100vw;
  }
}
